@model Autoservis01.Models.ModelViewModel

@{
    ViewData["Title"] = "Delete Model";
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ErrorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form action="Delete" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly style="background-color:sandybrown" />
    </div>
    <div class="mb-3">
        <label class="form-label">MakeId</label>
        <input type="text" class="form-control" asp-for="MakeId" readonly style="background-color:sandybrown" />
    </div>
    <div class="mb-3">
        <label class="form-label">Brand</label>
        <input type="text" class="form-control" asp-for="Brand" readonly style="background-color:sandybrown" />
    </div>
    <div class="mb-3">
        <label class="form-label">Series</label>
        <input type="text" class="form-control" asp-for="Series" readonly style="background-color:sandybrown" />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-danger" onclick="return function ('Are you sure to delete model :@Model.MakeId')">Delete</button>
    </div>
</form>
