@model Autoservis01.Models.ProizvodacViewModel

@{
    ViewData["Title"] = "Edit Proizvodac";
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(@ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ErrorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form action="Edit" method="post">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly style="background-color:lightgreen" />
    </div>
    <div class="mb-3">
        <label class="form-label">Brand</label>
        <input type="text" class="form-control" asp-for="Brand" style="background-color:lightgreen" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Model</label>
        <input type="text" class="form-control" asp-for="Model" style="background-color:lightgreen" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <div class="input-group">
            <span class="input-group-text">&euro;</span>
            <input type="number" class="form-control" asp-for="Price" style="background-color:lightgreen" />
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
